<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleIconFile</key>
    <string>ocicon</string>
    <key>CFBundleIconName</key>
    <string>ocicon</string>
    <key>CFBundleIdentifier</key>
    <string>com.http-www-musiker-nu-objectstudio.ObjectStudio</string>
    <key>CFBundleDocumentTypes</key>
    <array>
        <dict>
            <key>CFBundleTypeExtensions</key>
            <array>
                    <string>wav</string>
                    <string>wave</string>
            </array>
            <key>CFBundleTypeIconFile</key>
            <string>LogicAudioFileWAV.icns</string>
            <key>CFBundleTypeName</key>
            <string>Wave file</string>
            <key>CFBundleTypeOSTypes</key>
            <array>
                    <string>WAVE</string>
            </array>
            <key>CFBundleTypeRole</key>
            <string>Editor</string>
            <key>LSHandlerRank</key>
            <string>Default</string>
            <key>LSItemContentTypes</key>
            <array>
                    <string>com.microsoft.waveform-audio</string>
            </array>
            <key>LSTypeIsPackage</key>
            <false/>
        </dict>
        <dict>
            <key>CFBundleTypeExtensions</key>
            <array>
                    <string>mid</string>
            </array>
            <key>CFBundleTypeIconFile</key>
            <string>StandardMIDIFile.icns</string>
            <key>CFBundleTypeName</key>
            <string>Standard MIDI File</string>
            <key>CFBundleTypeOSTypes</key>
            <array>
                    <string>Midi</string>
            </array>
            <key>CFBundleTypeRole</key>
            <string>Viewer</string>
            <key>LSHandlerRank</key>
            <string>Default</string>
            <key>LSItemContentTypes</key>
            <array>
                    <string>public.midi-audio</string>
            </array>
            <key>LSTypeIsPackage</key>
            <false/>
            <key>NSDocumentClass</key>
            <string>CLgSongDocument</string>
        </dict>
        <dict>
            <key>CFBundleTypeExtensions</key>
            <array>
                    <string>aif</string>
                    <string>aiff</string>
                    <string>aifc</string>
            </array>
            <key>CFBundleTypeIconFile</key>
            <string>LogicAudioFileAIFF.icns</string>
            <key>CFBundleTypeName</key>
            <string>AIFF Audio file</string>
            <key>CFBundleTypeOSTypes</key>
            <array>
                    <string>AIFF</string>
            </array>
            <key>CFBundleTypeRole</key>
            <string>Editor</string>
            <key>LSHandlerRank</key>
            <string>Default</string>
            <key>LSItemContentTypes</key>
            <array>
                    <string>public.aiff-audio</string>
            </array>
            <key>LSTypeIsPackage</key>
            <false/>
        </dict>
        <dict>
                <key>CFBundleTypeExtensions</key>
                <array>
                        <string>au</string>
                </array>
                <key>CFBundleTypeIconFile</key>
                <string>AudacityAU.icns</string>
                <key>CFBundleTypeMIMETypes</key>
                <array>
                        <string>audio/au</string>
                </array>
                <key>CFBundleTypeName</key>
                <string>AU Audio File</string>
                <key>CFBundleTypeOSTypes</key>
                <array>
                        <string>AU  </string>
                        <string>au  </string>
                        <string>snd </string>
                </array>
                <key>CFBundleTypeRole</key>
                <string>Editor</string>
        </dict>
        <dict>
                <key>CFBundleTypeExtensions</key>
                <array>
                        <string>mp3</string>
                </array>
                <key>CFBundleTypeIconFile</key>
                <string>AudacityMP3.icns</string>
                <key>CFBundleTypeMIMETypes</key>
                <array>
                        <string>audio/mpeg</string>
                        <string>audio/x-mpeg</string>
                        <string>audio/mpeg3</string>
                        <string>audio/x-mpeg3</string>
                        <string>audio/mpg</string>
                        <string>audio/x-mpg</string>
                        <string>audio/mp3</string>
                        <string>audio/x-mp3</string>
                </array>
                <key>CFBundleTypeName</key>
                <string>MP3 Audio File</string>
                <key>CFBundleTypeOSTypes</key>
                <array>
                        <string>mp3!</string>
                        <string>MP3!</string>
                        <string>MPG3</string>
                        <string>mpg3</string>
                        <string>Mp3 </string>
                        <string>MP3 </string>
                </array>
                <key>CFBundleTypeRole</key>
                <string>Editor</string>
        </dict>
        <dict>
                <key>CFBundleTypeExtensions</key>
                <array>
                        <string>mp4</string>
                </array>
                <key>CFBundleTypeIconFile</key>
                <string>AudacityMP4.icns</string>
                <key>CFBundleTypeMIMETypes</key>
                <array>
                        <string>audio/mpeg</string>
                        <string>audio/x-mpeg</string>
                        <string>audio/mpeg4</string>
                        <string>audio/x-mpeg4</string>
                        <string>audio/mpg</string>
                        <string>audio/x-mpg</string>
                        <string>audio/mp4</string>
                        <string>audio/x-mp4</string>
                </array>
                <key>CFBundleTypeName</key>
                <string>MP4 Audio File</string>
                <key>CFBundleTypeOSTypes</key>
                <array>
                        <string>mp4!</string>
                        <string>MP4!</string>
                        <string>MPG4</string>
                        <string>mpg4</string>
                        <string>Mp4 </string>
                        <string>MP4 </string>
                </array>
                <key>CFBundleTypeRole</key>
                <string>Editor</string>
        </dict>
        <dict>
                <key>CFBundleTypeExtensions</key>
                <array>
                        <string>m4a</string>
                </array>
                <key>CFBundleTypeMIMETypes</key>
                <array>
                        <string>audio/m4a</string>
                        <string>audio/x-m4a</string>
                </array>
                <key>CFBundleTypeName</key>
                <string>MPEG-4 Audio File</string>
                <key>CFBundleTypeOSTypes</key>
                <array>
                        <string>M4A </string>
                </array>
                <key>CFBundleTypeRole</key>
                <string>Editor</string>
        </dict>
        <dict>
                <key>CFBundleTypeName</key>
                <string>Uncompressed MusicXML File</string>
                <key>CFBundleTypeExtensions</key>
                <array>
                        <string>musicxml</string>
                        <string>xml</string>
                </array>
                <key>CFBundleTypeMIMETypes</key>
                <array>
                        <string>vnd.recordare.musicxml+xml</string>
                </array>
                <key>CFBundleTypeRole</key>
                <string>Editor</string>
        </dict>
        <dict>
                <key>CFBundleTypeName</key>
                <string>Compressed MusicXML File</string>
                <key>CFBundleTypeExtensions</key>
                <array>
                        <string>mxl</string>
                </array>
                <key>CFBundleTypeMIMETypes</key>
                <array>
                        <string>vnd.recordare.musicxml</string>
                </array>
                <key>CFBundleTypeRole</key>
                <string>Editor</string>
        </dict>
        <dict>
                <key>CFBundleTypeName</key>
                <string>Object Composer Project</string>
                <key>CFBundleTypeExtensions</key>
                <array>
                        <string>mus</string>
                </array>
                <key>CFBundleTypeMIMETypes</key>
                <array>
                        <string>www.musiker.nu/objectstudio</string>
                </array>
                <key>CFBundleTypeRole</key>
                <string>Editor</string>
        </dict>
        <dict>
                <key>CFBundleTypeExtensions</key>
                <array>
                        <string>ogg</string>
                </array>
                <key>CFBundleTypeIconFile</key>
                <string>AudacityOGG.icns</string>
                <key>CFBundleTypeMIMETypes</key>
                <array>
                        <string>audio/ogg</string>
                        <string>audio/x-ogg</string>
                        <string>audio/vorbis</string>
                        <string>audio/x-vorbis</string>
                        <string>audio/vorbisogg</string>
                        <string>audio/x-vorbisogg</string>
                        <string>audio/ogg-vorbis</string>
                        <string>audio/x-ogg-vorbis</string>
                </array>
                <key>CFBundleTypeName</key>
                <string>Ogg Vorbis Audio File</string>
                <key>CFBundleTypeOSTypes</key>
                <array>
                        <string>Ogg </string>
                        <string>OGG </string>
                        <string>OggS</string>
                        <string>OGGS</string>
                </array>
                <key>CFBundleTypeRole</key>
                <string>Editor</string>
        </dict>
        <dict>
                <key>CFBundleTypeExtensions</key>
                <array>
                        <string>flac</string>
                </array>
                <key>CFBundleTypeIconFile</key>
                <string>AudacityFLAC.icns</string>
                <key>CFBundleTypeMIMETypes</key>
                <array>
                        <string>audio/flac</string>
                        <string>audio/x-flac</string>
                </array>
                <key>CFBundleTypeName</key>
                <string>FLAC Audio File</string>
                <key>CFBundleTypeOSTypes</key>
                <array>
                        <string>flac</string>
                </array>
                <key>CFBundleTypeRole</key>
                <string>Editor</string>
        </dict>
    </array>
    <key>LSMultipleInstancesProhibited</key>
    <string>True</string>
    <key>NSHighResolutionCapable</key>
    <string>True</string>
    <key>NSPrincipalClass</key>
    <string>NSApplication</string>
    <key>CFBundleName</key>
    <string>ObjectStudio</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>CFBundleShortName</key>
    <string>ObjectStudio</string>
</dict>
</plist>
